@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Coral+Pixels&display=swap');
@import "tailwindcss";

@theme {
    --font-test: "Cal Sans", sans-serif;
    --font-wa: "Coral Pixels", serif;
}

html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
}

#space-canvas {
    position: fixed;
    top: 0;
    left: 0;

    z-index: -1;

    width: 100%;
    height: 100%;
}

.experience-tab-active {
    background: #2D2327;
}