---
import Hero from "../components/Hero.astro";
// import Experience from "../components/Experience.astro";
import Experience from "../components/Experience.tsx";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Hero />
	<div class="sm:flex md:grid grid-cols-5">
		<div class="md:col-span-1"><Navbar /></div>
		<div class="md:col-span-4">
			<Experience client:load />
			<Skills />
			<Projects />
		</div>
	</div>
	<Footer />
</Layout>
