---
import SocialLinks from "./SocialLinks.astro";
---

<footer class="w-full px-16 h-28 max-w-350">
    <div class="bg-white/40 rounded-full w-full h-1"></div>
    <div
        class="flex flex-col justify-center items-center md:items-start md:flex-row md:justify-between"
    >
        <!-- SVG ICONS -->
        <div class="flex gap-5 p-2 md:p-6">
            <SocialLinks size="w-8 h-8" />
        </div>

        <!-- BACKGROUND RECOGNITION -->
        <div class="flex items-center text-white/60 font-bold p-2 md:p-6">
            <p>
                Background by <a
                    href="https://github.com/ImBaedin/Thpace"
                    class="underline hover:text-white transition-colors duration-250"
                    >ImBaedin</a
                >
            </p>
        </div>
    </div>
</footer>
