---
import { Image } from "astro:assets";
import devImage from "/src/assets/DevImage.png";
import devImageHover from "/src/assets/DevImageHover.png";
import SocialLinks from "./SocialLinks.astro";

import Resume from "/src/assets/Resume.pdf";
---

<!-- HERO CONTAINER -->
<div class="h-[100vh] flex items-center justify-center max-h-450">
    <div class="max-w-450">
        <!-- CENTERED HERO CONTENT -->
        <div class="grid grid-cols-5 text-white">
            <!-- LEFT CONTENT -->
            <div
                class="col-span-5 md:col-span-3 flex flex-col items-center justify-center"
            >
                <div
                    class="flex flex-col items-center sm:items-start text-center md:text-start"
                >
                    <!-- NAME TYPOGRAPHY -->
                    <h1
                        class="text-6xl sm:text-7xl md:text-8xl lg:text-9xl font-bold tracking-wide pb-[1.2rem] leading-[0.9] font-display"
                    >
                        <span class="block">Josh</span>
                        <span class="block">Cemine</span>
                    </h1>
                    <!-- JOB DESCRIPTION TYPOGRAPHY -->
                    <p
                        class="tracking-[0.2em] sm:tracking-[0.38em] lg:tracking-[0.75em] text-lg sm:text-xl font-display"
                    >
                        FULLSTACK DEVELOPER
                    </p>

                    <!-- CONTACT ME SECTION -->
                    <div class="my-6 flex">
                        <a
                            href={Resume}
                            download="Josh_Cemine_Resume.pdf"
                            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors border border-input shadow-sm h-9 px-4 py-2 hover:bg-white/40"
                            ><span class="font-semibold">Resume</span><svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-file-down ml-2 size-5"
                                ><path
                                    d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"
                                ></path><path d="M14 2v4a2 2 0 0 0 2 2h4"
                                ></path><path d="M12 18v-6"></path><path
                                    d="m9 15 3 3 3-3"></path></svg
                            ></a
                        >

                        <div class="flex items-center gap-4 py-0.5 pl-8">
                            <SocialLinks />
                        </div>
                    </div>
                </div>
            </div>
            <!-- RIGHT CONTENT -->
            <div class="col-span-2 flex items-start">
                <div
                    class="relative group md:w-[19em] md:h-[19em] lg:w-[24em] lg:h-[24em] border-8 border-[#2D2327] rounded-full overflow-hidden bg-white/20 backdrop-blur-sm hidden md:block"
                >
                    <Image
                        src={devImage}
                        loading={"eager"}
                        alt="The developer"
                        class="absolute object-cover inset-0 w-full h-full opacity-100 group-hover:opacity-0 transition-opacity duration-250"
                    />
                    <Image
                        src={devImageHover}
                        loading={"eager"}
                        alt="The developer - hover state"
                        class="absolute object-cover inset-0 w-full h-full opacity-0 group-hover:opacity-100 transition-opacity duration-250"
                    />
                </div>
            </div>
        </div>
    </div>
</div>
