---
import { projects } from "../data/data";
import ProjectsCards from "./ProjectsCards.astro";
---

<div id="projects-container" class="section-container">
	<div class="max-w">
		<h2 class="section-header w-full">PROJECTS</h2>
		<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
			{projects.map((project) => <ProjectsCards {project} />)}
		</div>
	</div>
</div>
