---
import { projects } from "../data/data";
import ProjectsCards from "./ProjectsCards.astro";
---

<div id="container" class="flex flex-wrap justify-around p-15 m-10 gap-6">
	{projects.map((projects) => <ProjectsCards {projects} />)}
</div>
