---
import { projects } from "../data/data";
---

<div id="container" class="p-15 m-20">
	{
		projects.map((project, i) => (
			<div class="project-card">
				<h2>{project.title}</h2>
				{/* <p>{project.description}</p> */}
			</div>
		))
	}
</div>
