---
import { projects } from "../data/data";
---

<div id="container" class="h-[300vh]"></div>

<!-- <div id="container">
	<h1>This is the Projects</h1>

	{
		projects.map((project, i) => (
			<div class="project-card">
				<h2>{i + " " + project.title}</h2>
				{/* <p>{project.description}</p> */}
			</div>
		))
	}
</div> -->
