<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- FAVICON LINKED TO FILE -->
		<link rel="icon" type="image/svg+xml" href="/portfolio/favicon.ico" />
		<link rel="stylesheet" href="/src/assets/global.css" />
		<meta name="generator" content={Astro.generator} />
		<title>Josh's Portfolio</title>
	</head>
	<body>
		<slot />
	</body>
</html>
