<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<link rel="stylesheet" href="/src/styles/global.css" />
		<meta name="generator" content={Astro.generator} />
		<title>Josh's Portfolio</title>
	</head>
	<body>
		<script>
			import { ThpaceGL } from "thpace";
			let canvas: any = null;
			document.addEventListener("DOMContentLoaded", () => {
				canvas = document.querySelector("#space-canvas");
				console.log(canvas);
				const settings = {
					colors: ["#b5c2b7", "#2d2327", "#b5c2b7"],
					triangleSize: 100,
				};

				ThpaceGL.create(canvas, settings);
			});
		</script>

		<canvas id="space-canvas"> </canvas>
		<slot />
	</body>
</html>
